
<span class="high">High</span>
<span class="medium">Medium</span>
<span class="low">Low</span>
<div>
  <input class="status" type="checkbox" />
  <span class="title">{{title}}</span>
  <input class="title-edit" type="text">
  <span class="delete">x</span>
</div>
